<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>RESTer</title>
    <meta name="description" content="RESTer Server">

    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,300,300italic,400italic,500,500italic,700,700italic"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/components.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/pages.css">
</head>

<body>
    <header class="header">
        <div class="header__title">
            <img src="/static/images/icon.svg" class="header__logo">
            <h1>
                <a href="/">RESTer Account</a>
                <small>Synchronize all your saved RESTer requests across devices.</small>
            </h1>
        </div>
    </header>

    <main class="main">
        ${template}
    </main>

    <footer class="footer">
        <nav>
            <ul class="footer__links">
                <li>
                    <a href="https://github.com/frigus02/RESTer">RESTer on GitHub</a>
                </li>
                <li>
                    <a href="https://github.com/frigus02/RESTer-Server">This website on GitHub</a>
                </li>
                <li>
                    <a href="/imprint">Imprint</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>