<h2>What is RESTer?</h2>
<p>A REST client for almost any web service. It's available as a browser extension for both
    <a href="https://addons.mozilla.org/firefox/addon/rester">Firefox</a> and
    <a href="https://chrome.google.com/webstore/detail/rester/eejfoncpjfgmeleakejdcanedmefagga">Chrome</a>.</p>


<h2>Your Account</h2>
<div id="login">
    <div id="loginError" hidden>
        <p>Login failed. Please try again. Reason:</p>
        <div></div>
    </div>
    <a href="${loginUrl}">Login to existing account or create new account</a>
</div>
<div id="account" hidden>
    <img id="accountPicture" src="" alt="Profile photo" class="account-photo">
    <div id="accountInfo">
        <dl class="summary-table">
            <dt>Given name:</dt>
            <dd id="accountGivenName"></dd>
            <dt>Family name:</dt>
            <dd id="accountFamilyName"></dd>
            <dt>Display name:</dt>
            <dd id="accountDisplayName"></dd>
            <dt>Street:</dt>
            <dd id="accountStreet"></dd>
            <dt>City:</dt>
            <dd id="accountCity"></dd>
            <dt>ZIP/Postal code:</dt>
            <dd id="accountZip"></dd>
            <dt>State/Province:</dt>
            <dd id="accountState"></dd>
            <dt>Country:</dt>
            <dd id="accountCountry"></dd>
            <dt>Email:</dt>
            <dd id="accountEmail"></dd>
        </dl>

        <button id="accountEdit">Edit account</button>
    </div>

    <form id="accountForm" hidden>
        <div class="form-field">
            <label for="accountFormGivenName">Given name:</label>
            <input type="text" id="accountFormGivenName">
        </div>
        <div class="form-field">
            <label for="accountFormFamilyName">Family name:</label>
            <input type="text" id="accountFormFamilyName">
        </div>
        <div class="form-field">
            <label for="accountFormDisplayName">Display name:</label>
            <input type="text" id="accountFormDisplayName">
        </div>
        <div class="form-field">
            <label for="accountFormStreet">Street:</label>
            <input type="text" id="accountFormStreet">
        </div>
        <div class="form-field">
            <label for="accountFormCity">City:</label>
            <input type="text" id="accountFormCity">
        </div>
        <div class="form-field">
            <label for="accountFormZip">ZIP/Postal code:</label>
            <input type="text" id="accountFormZip">
        </div>
        <div class="form-field">
            <label for="accountFormState">State/Province:</label>
            <input type="text" id="accountFormState">
        </div>
        <div class="form-field">
            <label for="accountFormCountry">Country:</label>
            <input type="text" id="accountFormCountry">
        </div>

        <input type="reset" value="Cancel">
        <input type="submit" value="Update account">
    </form>

    <h2>Connected Applications</h2>
    <ul id="applications"></ul>

    <button id="accountLogout" class="account-logout">Logout</button>
</div>

<script src="/static/scripts/login.js" defer></script>